<div class="card">

  <div class="badge-container" *ngIf="product.tags?.length">
    <span
      *ngFor="let tag of product.tags"
      [ngClass]="tag.toLowerCase()">
      {{ tag }}
    </span>
  </div>

  <div
    class="clickable-area"
    [routerLink]="['/product', product.id]">

    <img [src]="product.image" [alt]="product.name" />

    <h3>{{ product.name }}</h3>
  </div>

  <p>₹{{ product.price }}</p>

  <button (click)="addToCart($event)" [class.added]="isAdded">
    {{ isAdded ? '✔ Added' : 'Add to Cart' }}
  </button>

</div>